h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#FFFFFF ;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #region header */
.main-logo {
font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
margin-right: 76px;
}

.text-raleway {
    color:#2e2f42;
}

.nav-link{
color: #2e2f42;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
font-weight: 500;
padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color:#404bbf;
}

.contact-info {
    font-style: normal;
    display: flex;
    gap: 40px;
}
        

.contact-message {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.contact-info :hover,
.contact-info :focus,
.contact-info .active {
    color:#404bbf;
}

.header-background {
border-bottom: 1px solid #e7e9fc;
}

.main-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}
/* #endregion header */

/* #region hero */ 
.page {
    background-color:#2e2f42;
    padding: 188px 0;
    
}
.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    background-color:#2e2f42;
    max-width: 496px;
    text-align: center;
}
.button {
cursor: pointer;
font-weight: 500;
font-size: 16px;
 line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4D5AE5;
text-align: center;
min-width: 169px;
height: 56px;
border-radius: 4px;
border: none;
cursor: pointer;
text-align: center;
}
.button:hover,
.button:focus {
    background-color: #404bbf;
}   
/* #endregion hero */

/* #region benefits */
.strategy-list-section{
    background-color: #FFFFFF;
}

.strategy-list {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
}

.strategy-item {
font-weight: 400;
font-size: 16px;
color: #434455;
}

p {
line-height: 1.5;
letter-spacing: 0.02em;
}
/* #endregion benefits */ 

/* #region team */  
.title-isteam-section{
background-color: #f4f4fd;
}

.title-line {
background-color:#FFFFFF;
}

.title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
}

.title-iteam{
font-weight: 400;
font-size: 16px;
 line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* #endregion team */

/* #region portfolio */
.heading {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42; 
}

.portfolio-heading{
color:#2e2f42;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;     
}
.portfolio-iteam {
font-size: 16px;
color: #434455;
}

p {
line-height: 1.5;
letter-spacing: 0.02em;
}

/* #endregion portfolio */

/* #region footer */
.footer-background {
    background-color: #2e2f42;
}   
.text-raleway-footer {
    color: #f4f4fd;
}
.footer-logo {
    font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        background-color: #2e2f42;
}

.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #2e2f42;
}
/* #endregion footer */
